.offer-description-box {
  margin-top: 2rem;

  h4 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 0.95rem;
    color: #333;
    margin-bottom: 1rem;
  }
}
